/* QRPage.module.css */
.container {
  background: #f8eedc;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* 追加 */
}

.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center; /* 変更 */
  align-items: center;
}

.headerText {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  position: relative;
  min-height: calc(687px - 60px - 60px); /* 例：ヘッダー60px、フッター80px */
  flex-grow: 2; /* 追加 */
}

.qrContainer {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 20px; /* 変更 */
  width: 8rem;
  height: 10rem;
  position: relative;
}

.ornament {
  position: absolute;
  width: 4rem;
  height: 40%;
  background-color: #f86d59;
  border-radius: 1rem;
  margin-top: 13px;
  opacity: 0.3;
  top: 0; /* 変更 */
}

.qrCode {
  width: 10rem; /* 変更 */
  height: 10rem; /* 変更 */
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrCode img {
  width: 100%; /* 親要素の幅に合わせて表示 */
  height: auto;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 1rem;
  text-align: center;
}

.corner {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #333;
}

.cornerTopLeft {
  top: 0.2rem;
  left: 0.2rem;
  border-right: none;
  border-bottom: none;
}

.cornerTopRight {
  top: 0.2rem;
  right: 0.2rem;
  border-left: none;
  border-bottom: none;
}

.cornerBottomLeft {
  bottom: 0.2rem;
  left: 0.2rem;
  border-right: none;
  border-top: none;
}

.cornerBottomRight {
  bottom: 0.2rem;
  right: 0.2rem;
  border-left: none;
  border-top: none;
}

.footer {
  width: 100%;
  padding: 1rem 0; /* 上下のpaddingのみ調整 */
  margin-bottom: 0; /* margin-bottomを0に */
  display: flex;
  justify-content: center; /* 中央寄せ */
  align-items: flex-start; /* 上寄せ */
}

.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem; /* 左右のmarginで間隔調整 */
}

.footerIcon {
  width: 2rem;
  height: 2rem;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.footerText {
  font-size: 0.8rem;
  color: #333;
}

.spacer {
  display: none; /* 垂線を非表示 */
}

.ornamentLeft {
  left: 0;
}

.ornamentRight {
  right: 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  border-top: 1px solid #ccc; /* 横線を追加 */
  border-bottom: 1px solid #ccc; /* 横線を追加 */
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.verticalLine {
  position: absolute;
  top: 50%;
  left: 50%; /* 削除 */
  transform: translateY(-50%);
  width: 1px;
  height: 2rem;
  background-color: #ccc;
  margin-left: -5rem; /* 追加 */
}

.button {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.buttonText {
  font-size: 0.8rem;
  color: #333;
}

.congestionIcon {
  margin-bottom: 1rem;
  display: flex; /* 追加 */
  align-items: center; /* 追加 */
  flex-direction: column; /* 追加 */
}

.congestionLabel {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 1rem;
}

.congestionText {
  text-align: center;
  margin-top: 5px;
  font-size: 0.8rem;
}

.congestionText.blue {
  color: blue;
}

.congestionContainer {
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  background-color: #fff; /* 背景色 */
  padding: 0.5rem; /* 余白を小さく */
  border-radius: 3px; /* 角丸を小さく */
}

.congestionImage {
  width: 3rem; /* 画像サイズを小さく */
  height: 3rem; /* 画像サイズを小さく */
  margin-right: 0.5rem; /* テキストとの間隔を小さく */
}

.congestionText {
  font-size: 1rem; /* テキストサイズを小さく */
  color: blue;
}
.username {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 1rem; /* QRコードとの間隔 */
}

.spacerQR {
  height: 2rem; /* 間隔を広げる */
}
