/* Footer.module.css */
.footer {
    background-color: #f0efe9; /* 薄いベージュの背景 */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* フッターを固定表示にする */
    bottom: 0; /* 画面の一番下に配置 */
    left: 0;
    width: 100%; /* 画面幅いっぱいに表示 */
}

.button {
    margin: 0 1rem;
}

.icon {
    font-size: 1.5rem;
    color: #333;
}
