/* Header.module.css */
.header {
  background-color: #fce9b7; /* 写真に近い薄いオレンジ色 */
  padding: 1.5rem; /* ヘッダーの高さを調整 */
}

.container {
  display: flex;
  justify-content: center; /* 中央寄せ */
  align-items: center; /* 中央寄せ */
}

.menuButton {
  font-size: 1.5rem;
  margin-right: 1rem; /* タイトルとの間隔を調整 */
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}
