/* CongestionPage.module.css */
.container {
  font-family: sans-serif;
  background-color: #f8f5f0; /* 全体の背景色 */
  min-height: 130vh;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.currentStatus {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f0e6d2; /* 現在の状況の背景色 */
  border-radius: 8px;
}

.currentTime,
.currentVisitors {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.high {
  background-color: #ffcccc; /* 高混雑時の背景色 */
}

.medium {
  background-color: #ffe6cc; /* 中混雑時の背景色 */
}

.low {
  background-color: #ccffcc; /* 低混雑時の背景色 */
}

.congestionMessage {
  margin-top: 5px;
  font-size: 0.8em;
  color: #666;
}

.chartContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.loading,
.error,
.noData {
  text-align: center;
  margin-top: 50px;
  color: #666;
}

/* ツールバーのスタイル */
.toolbar {
  background-color: #f0e6d2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.toolbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbarSearch {
  display: flex;
  align-items: center;
}

.toolbarSearchIcon {
  font-size: 1.5em;
  margin-right: 10px;
}

.toolbarMenuIcon {
  font-size: 1.5em;
}
